---
import "../styles/global.css";
import Boton2 from "./Boton2.astro";
import Boton3 from "./Boton3.astro";
const skills = [
  { name: "HTML-5", description: "Estructura web moderna con multimedia integrado y accesibilidad óptima.", 
  image: "/html5.svg", width: 96, height: 96 },
  { name: "CSS", description: "Diseño adaptable y experiencia visual coherente en todos los dispositivos.", 
  image: "/css_old.svg", width: 96, height: 96 },
  { name: "JAVASCRIPT", description: "Interactividad avanzada y experiencia de usuario fluida.", 
  image: "/javascript.svg", width: 96, height: 96 },
  { name: "TAILWIND", description: "Diseño personalizado con precisión y optimización móvil priorizada.", 
  image: "/tailwindcss.svg", width: 96, height: 96 },
  { name: "ASTRO", description: "Rendimiento web líder y SEO mejorado con carga ultrarrápida.", 
  image: "/astro.svg", width: 96, height: 96 },
  { name: "REACT", description: "Aplicaciones dinámicas y interfaces escalables sin recargas.", 
  image: "/react_light.svg", width: 96, height: 96 },
  { name: "PHP", description: "Funcionalidades backend robustas y gestión de contenido eficiente.", 
  image: "/php.svg", width: 96, height: 96 },
  { name: "LARAVEL", description: "Plataformas seguras, escalables y arquitectura profesional para operaciones críticas.", 
  image: "/laravel.svg", width: 96, height: 96 },
  { name: "PYTHON", description: "Soluciones inteligentes, automatización empresarial e integración con IA.", 
  image: "/python.svg", width: 96, height: 96 },
];
---

<section id="Habilidades" class="bg-gray-900 text-white py-12" style="background: radial-gradient(circle farthest-corner at 50% 100%, #264653ff 10%, #092327ff 80%, #1B263Bff 100%);">
<!-- PROGRAMADORES -->
<section class=" text-white py-12">
  <h1 class="sm:text-5xl font-bold text-center text-[40px]">Programadores</h1>
  <div class="max-w-4xl mx-auto text-center">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mx-6 my-6">
      <div class="bg-gray-800 p-6 rounded-lg shadow-md shadow-green-500 text-center">
        <img
          src="/user.svg"
          alt="Leo"
          class="h-24 mx-auto mb-4 rounded-lg"
          width="96"
          height="96"
        />
        <h3 class="text-orange-400 text-lg font-semibold">Leo</h3>
        <p class="text-gray-400 text-16px mt-2 text-justify">
          Ingeniero de sistemas e informatica de la Universidad de Huanuco, con habilidades en desarrollo web, diseño y marketing.
        </p>
        <Boton2>
          Contacto
        </Boton2>
      </div>
      <div class="bg-gray-800 p-6 rounded-lg shadow-md shadow-green-500 text-center">
        <img
          src="/user.svg"
          alt="Joffre"
          class="h-24 mx-auto mb-4 rounded-lg"
          width="96"
          height="96"
        />
        <h3 class="text-orange-400 text-lg font-semibold">Joffre</h3>
        <p class="text-gray-400 text-16px mt-2 text-justify">
          Ingeniero de sistemas e informatica de la Universidad de Huanuco, con habilidades en desarrollo web, diseño y marketing.
        </p>
        <Boton2>
          Contacto
        </Boton2>
      </div>
      <div class="bg-gray-800 p-6 rounded-lg shadow-md shadow-green-500 text-center">
        <img
          src="/user.svg"
          alt="Sebas"
          class="h-24 mx-auto mb-4 rounded-lg"
          width="96"
          height="96"
        />
        <h3 class="text-orange-400 text-lg font-semibold">Sebas</h3>
        <p class="text-gray-400 text-16px mt-2 text-justify">
          Ingeniero de sistemas de la Universidad Hermilio Valdizan, con habilidades en desarrollo web, diseño y marketing.
        </p>
        <Boton2>
          Contacto
        </Boton2>
      </div>
    </div>
  </div>
</section>
    <div class="max-w-4xl mx-auto text-center">
      <h2 class=" text-5xl font-bold mb-8">Habilidades</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mx-6 my-6" >
        {skills.map(skill => (
          <div class="bg-gray-800 p-6 rounded-lg shadow-md shadow-[#2A9D8F] text-center hover:scale-105 transition-transform duration-300">
            <img src={skill.image} alt={skill.name} class="h-24 mx-auto mb-4 rounded-lg" />
            <h3 class="text-orange-400 text-lg font-semibold">{skill.name}</h3>
            <p class="text-gray-400 text-16px mt-2 text-center">{skill.description}</p>
          </div>
        ))}
      </div>
    </div>
  </div>
</section>

<style>
  h1 {
    font-family: "Space Grotesk Variable";
  }
  p {
    font-family: "Josefin Sans Variable";
  }
  h2 {
    font-family: "Space Grotesk Variable";
  }
  li {
    font-family: "Josefin Sans Variable";
  }
</style>


<!-- Colores de la página de Habilidades
- Opcion 1: shadow-yellow-800
- Opcion 2: shadow-orange-400
- Opcion 3: shadow-[#2A9D8F] -->
