---
import CheckIcon from "./CheckIcon.astro";
---

<section class="bg-gray-900 text-white py-16 px-4">
  <div class="max-w-6xl mx-auto text-center">
    <h2 class="text-3xl font-bold mb-8">Elige el plan adecuado para ti</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <!-- Plan Básico -->
      <div class="bg-black p-6 rounded-2xl shadow-lg">
        <h3 class="text-2xl font-semibold">Plan Básico</h3>
        <h3 class="text-2xl font-semibold">
          <span class="text-4xl"> S/ 80.00</span>
        </h3>
        <p class="text-gray-400 mt-2">
          Ideal para emprendedores que necesitan presencia online rápida
        </p>
        <ul class="mt-4 space-y-2 text-gray-300">
          <li class="flex items-start text-left">
            <div>
              <CheckIcon />
            </div>
            <span
              >Landing Page Profesional (1 sección con información clave)</span
            >
          </li>
          <li class="flex items-start text-left">
            <div>
              <CheckIcon />
            </div>
            <span>Diseño optimizado y responsive</span>
          </li>
          <li class="flex items-start text-left">
            <div>
              <CheckIcon />
            </div>
            <span>Integración de redes sociales</span>
          </li>
          <li class="flex items-start text-left">
            <div>
              <CheckIcon />
            </div>
            <span>Entrega en 3 días</span>
          </li>
        </ul>
        <button
          class="mt-6 bg-white text-black px-4 py-2 rounded-xl font-semibold"
        >
          Elige un plan
        </button>
      </div>

      <div class="bg-black p-6 rounded-2xl shadow-lg">
        <h3 class="text-2xl font-semibold">Plan Avanzado</h3>
        <h3 class="text-2xl font-semibold">
          <span class="text-4xl"> S/ 150.00</span>
        </h3>
        <p class="text-gray-400 mt-2">
          Perfecto para negocios que buscan destacar y generar clientes
        </p>
        <ul class="mt-4 space-y-2 text-gray-300">
          <li class="flex items-start text-left">
            <div>
              <CheckIcon />
            </div>
            <span
              >Sitio web de hasta 5 páginas (Inicio, Servicios, Contacto, etc.)</span
            >
          </li>
          <li class="flex items-start text-left">
            <div>
              <CheckIcon />
            </div>
            <span>Mapa de ubicación</span>
          </li>
          <li class="flex items-start text-left">
            <div>
              <CheckIcon />
            </div>
            <span>Optimización básica para SEO</span>
          </li>
          <li class="flex items-start text-left">
            <div>
              <CheckIcon />
            </div>
            <span>Entrega en 7 días</span>
          </li>
        </ul>
        <button
          class="mt-6 bg-white text-black px-4 py-2 rounded-xl font-semibold"
        >
          Elige un plan
        </button>
      </div>

      <div class="bg-black p-6 rounded-2xl shadow-lg">
        <h3 class="text-2xl font-semibold">Plan Premium</h3>
        <h3 class="text-2xl font-semibold">
          <span class="text-4xl"> S/ 200.00</span>
        </h3>
        <p class="text-gray-400 mt-2">
          Para empresas que quieren una web potente y funcional
        </p>
        <ul class="mt-4 space-y-2 text-gray-300">
          <li class="flex items-start text-left">
            <div>
              <CheckIcon />
            </div>
            <span>Sitio web completo y a medida (hasta 10 páginas)</span>
          </li>
          <li class="flex items-start text-left">
            <div>
              <CheckIcon />
            </div>
            <span>Diseño exclusivo con animaciones y efectos</span>
          </li>
          <li class="flex items-start text-left">
            <div>
              <CheckIcon />
            </div>
            <span>Optimización SEO avanzada</span>
          </li>
          <li class="flex items-start text-left">
            <div>
              <CheckIcon />
            </div>
            <span>Entrega en 14 días</span>
          </li>
        </ul>
        <button
          class="mt-6 bg-white text-black px-4 py-2 rounded-xl font-semibold"
        >
          Elige un plan
        </button>
      </div>
    </div>
  </div>
</section>
