---
import Boton from "./Boton.astro";
import CheckIcon from "./CheckIcon.astro";
---

<section
  id="Precios"
  class="text-white py-16 px-4"
  style="background: radial-gradient(circle farthest-corner at 50% 100%, #264653ff 10%, #092327ff 80%, #1B263Bff 100%);"
>
  <div class="max-w-6xl mx-auto text-center">
    <h2 class="text-5xl font-bold mb-20">Elige el plan adecuado para ti</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-40">
      <!-- Plan Básico -->
      <div
        class="bg-black/40 backdrop-blur-lg p-6 rounded-2xl shadow-lg border border-white/20 flex flex-col justify-between h-full
  transition-transform duration-500 ease-in-out hover:scale-105 hover:shadow-2xl hover:border-white/40"
      >
        <h3 class="text-3xl font-semibold mb-2">Plan Básico</h3>
        <h3 class="text-2xl font-semibold top-0">
          <span class="text-4xl"> S/ 650.00</span>
        </h3>
        <p class="text-gray-400 mt-2 text-[20px]">
          Ideal para emprendedores que necesitan presencia online rápida
        </p>
        <ul class="mt-4 text-gray-300">
          <li
            class="flex items-start text-left text-[18px] gap-2 py-4 border-t-2 border-gray-500 first:border-t-0"
          >
            <div>
              <CheckIcon />
            </div>
            <span><span class="text-green-500">1</span> página única</span>
          </li>
          <li
            class="flex items-start text-left text-[18px] gap-2 py-4 border-t-2 border-gray-500"
          >
            <div>
              <CheckIcon />
            </div>
            <span
              >Hasta <span class="text-green-500">5 secciones</span> personalizadas</span
            >
          </li>
          <li
            class="flex items-start text-left text-[18px] gap-2 py-4 border-t-2 border-gray-500"
          >
            <div>
              <CheckIcon />
            </div>
            <span
              >Integración con <span class="text-green-500">WhatsApp</span> y <span
                class="text-green-500">redes sociales</span
              ></span
            >
          </li>
          <li
            class="flex items-start text-left text-[18px] gap-2 py-4 border-t-2 border-gray-500"
          >
            <div>
              <CheckIcon />
            </div>
            <span>Hosting y dominio</span>
          </li>
          <li
            class="flex items-start text-left text-[18px] gap-2 py-4 border-t-2 border-gray-500"
          >
            <div>
              <CheckIcon />
            </div>
            <span>Diseño responsive</span>
          </li>
          <li
            class="flex items-start text-left text-[18px] gap-2 py-4 border-t-2 border-b-2 border-gray-500"
          >
            <div>
              <CheckIcon />
            </div>
            <span>Entrega en <span class="text-green-500">5 días</span></span>
          </li>
        </ul>
        <div class="mt-5 flex justify-center">
          <Boton> Solicitar servicio </Boton>
        </div>
      </div>

      <div
        class="bg-black/40 backdrop-blur-lg p-6 rounded-2xl shadow-lg border border-white/20 flex flex-col justify-between h-full
  transition-transform duration-500 ease-in-out hover:scale-105 hover:shadow-2xl hover:border-white/40"
      >
        <h3 class="text-3xl font-semibold mb-2">Plan Avanzado</h3>
        <h3 class="text-2xl font-semibold top-0">
          <span class="text-4xl"> S/ 1,500.00</span>
        </h3>
        <p class="text-gray-400 mt-2 text-[20px]">
          Perfecto para negocios que buscan destacar y generar clientes
        </p>
        <ul class="mt-4 text-gray-300">
          <li
            class="flex items-start text-left text-[18px] gap-2 py-4 border-t-2 border-gray-500 first:border-t-0"
          >
            <div>
              <CheckIcon />
            </div>
            <span
              >Hasta <span class="text-green-500">4 páginas</span> con <span
                class="text-green-500">3 secciones</span
              > cada una</span
            >
          </li>
          <li
            class="flex items-start text-left text-[18px] gap-2 py-4 border-t-2 border-gray-500"
          >
            <div>
              <CheckIcon />
            </div>
            <span>
              <span class="text-green-500">Formulario</span> de contacto</span
            >
          </li>
          <li
            class="flex items-start text-left text-[18px] gap-2 py-4 border-t-2 border-gray-500"
          >
            <div>
              <CheckIcon />
            </div>
            <span
              >Integración con <span class="text-green-500">Google Maps</span>,
              WhatsApp y redes sociales</span
            >
          </li>
          <li
            class="flex items-start text-left text-[18px] gap-2 py-4 border-t-2 border-gray-500"
          >
            <div>
              <CheckIcon />
            </div>
            <span>Hosting y dominio</span>
          </li>
          <li
            class="flex items-start text-left text-[18px] gap-2 py-4 border-t-2 border-gray-500"
          >
            <div>
              <CheckIcon />
            </div>
            <span>Diseño responsive y personalizado</span>
          </li>
          <li
            class="flex items-start text-left text-[18px] gap-2 py-4 border-t-2 border-gray-500"
          >
            <div>
              <CheckIcon />
            </div>
            <span>Optimización <span class="text-green-500">SEO</span></span>
          </li>
          <li
            class="flex items-start text-left text-[18px] gap-2 py-4 border-t-2 border-b-2 border-gray-500"
          >
            <div>
              <CheckIcon />
            </div>
            <span>Entrega en <span class="text-green-500">7 días</span></span>
          </li>
        </ul>
        <div class="mt-5 flex justify-center">
          <Boton> Solicitar servicio </Boton>
        </div>
      </div>

      <!-- <div
        class="bg-black/40 backdrop-blur-lg p-6 rounded-2xl shadow-lg border border-white/20 flex flex-col justify-between h-full
  transition-transform duration-500 ease-in-out hover:scale-105 hover:shadow-2xl hover:border-white/40"
      >
        <h3 class="text-3xl font-semibold">Plan Premium</h3>
        <h3 class="text-2xl font-semibold">
          <span class="text-4xl"> S/ 200.00</span>
        </h3>
        <p class="text-gray-400 mt-2 text-[20px]">
          Para empresas que quieren una web potente y funcional
        </p>
        <ul class="mt-4 space-y-2 text-gray-300">
          <li class="flex items-start text-left text-[18px]">
            <div>
              <CheckIcon />
            </div>
            <span>Sitio web completo y a medida (hasta 10 páginas)</span>
          </li>
          <li class="flex items-start text-left text-[18px]">
            <div>
              <CheckIcon />
            </div>
            <span>Diseño exclusivo con animaciones y efectos</span>
          </li>
          <li class="flex items-start text-left text-[18px]">
            <div>
              <CheckIcon />
            </div>
            <span>Optimización SEO avanzada</span>
          </li>
          <li class="flex items-start text-left text-[18px]">
            <div>
              <CheckIcon />
            </div>
            <span>Entrega en 14 días</span>
          </li>
        </ul>
        <div class="mt-5">
          <Boton> Elige un plan </Boton>
        </div>
      </div> -->
    </div>
  </div>
</section>

<style>
  h2 {
    font-family: "Space Grotesk Variable";
  }
  h3 {
    font-family: "Space Grotesk Variable";
  }
  span {
    font-family: "Josefin Sans Variable";
  }
  p {
    font-family: "Josefin Sans Variable";
  }
</style>
